<!doctype html>
<html ng-app="app-guide">
  <head><title>App Guide</title>

  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container-fluid">
    <h1>App Guide</h1>
    <div ng-controller="AppFudgeController">
    <div ng-controller="MultiTreeController">
      <form class="inline-form">
        <select ng-model="processId">
          <option value="">Select process...</option>
          <option ng-repeat="process in processes" value="{{process.id}}">{{process.name}}</option>
        </select>
      </form>

      <div>
        <select ng-model="stateIdToOpen" ng-change="openState()">
          <option value="">Open State...</option>
          <option ng-repeat="state in states" value="{{state.id}}">{{state.name}}</option>
        </select>
      </div>

      <input ng-if="!newState.visible" type="button" value="Create State" ng-click="newState.show()">
      <form ng-if="newState.visible" class="inline-form">
        
        <input type="text" ng-model="newState.name" placeholder="Name, e.g. Edit Mode">
        
        <input type="button" value="Create" ng-click="newState.add()">
        <input type="button" value="Cancel" ng-click="newState.hide()">
      </form>

      <div ng-repeat="rootStateId in appStateRootIds" ng-controller="StateTreeController">
        <input type="button" value="Close" ng-click="removeRootState(rootStateId)">
        <div ng-include="'/partials/state.html'"></div>
      </div>
      
    </div>
    </div>
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </body>
</html>
