<!doctype html>
<html ng-app="app-guide">
  <head><title>App Guide</title>

  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <style type="text/css">
   .dl-horizontal dt { width: 130px; }
   .dl-horizontal dd { margin-left: 140px; }
  </style>

  </head>
  <body>
    <div class="container-fluid">
    <h1>App Guide</h1>
    <div ng-controller="FudgeController">
      <div ng-repeat="rootStateId in appStateRootIds"
           ng-controller="StateTreeController"
           ng-include="'/partials/state.html'">
      </div>
      
      <!-- Keyboard focus issues in here -->
      <input ng-if="!addStateVisible" type="button" value="Create State" ng-click="showAddState()">
      <form ng-if="addStateVisible" class="inline-form">
        
        <input type="text" ng-model="newState.name" placeholder="Name, e.g. Edit Mode">
        
        <input type="button" value="Create" ng-click="addState()">
        <input type="button" value="Cancel" ng-click="hideAddState()">
      </form>
    </div>
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </body>
</html>
