<div ng-controller="AppFudgeController">
  <div class="btn-group">
    <button ng-click="showDetails()" class="btn btn-default">{{ app.name }}</button>
    <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
      <li><a ng-click="confirmDelete()">Delete App</a></li>
    </ul>
  </div>
  <div ng-if="detailsVisibled"><span ng-if="app.description == ''"><i>Description needed</i></span>{{ app.description }}</div>
  <form class="form-inline">
    <div class="form-group">
      <select style="max-width: 300px" class="form-control" ng-model="processId">
        <option value="">No process selected</option>
        <option ng-repeat="process in processes" value="{{process.id}}">{{process.name}}</option>
      </select>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" ng-model="oop">Out-of-process commands</label>
    </div>
    <button type="submit" ng-click="newProcess.show()">New Process</button>
  </form>
  <form class="form-inline" ng-if="newProcess.visible">
    <div class="form-group">
      <input placeholder="name" type="text" ng-model="newProcess.name">
    </div>
    <div class="form-group">
      <input placeholder="description" type="text" ng-model="newProcess.description">
    </div>
    <button type="submit" ng-click="newProcess.create()">Create Process</button>
    <button type="submit" ng-click="newProcess.hide()">Cancel</button>
  </form>
  <div ng-controller="MultiTreeController">

    <!-- Single button -->
    <div class="btn-group">
      <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        View State <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li ng-repeat="state in states"><a ng-click="addRootState(state.id)">{{ state.name }}</a></li>
      </ul>
    </div>

    <input ng-if="!newState.visible" type="button" value="Create State" ng-click="newState.show()">
    <form ng-if="newState.visible" class="inline-form">
      
      <input type="text" ng-model="newState.name" placeholder="Name, e.g. Edit Mode">
      
      <input type="button" value="Create" ng-click="newState.add()">
      <input type="button" value="Cancel" ng-click="newState.hide()">
    </form>

    <div ng-repeat="rootStateId in appStateRootIds" ng-controller="StateTreeController">
      <div ng-include="'/partials/state.html'"></div>
    </div>
    
  </div>
</div>
