<div ng-controller="StateController">
  <div class="inline-form">
    {{state.name}}
    <input type="text" ng-model="state.description">
  </div>

  <ul>
    <li ng-repeat="command in state.commands">
      <div ng-controller="CommandController">
        <div class="inline-form">
          <input ng-disabled="noExpand" type="checkbox" ng-model="expandResultState">
          {{command.method}}
          <input type="text" ng-model="command.description" class="state-desc">
        </div>
        <div ng-if="command.resultStateId && expandResultState" ng-include="'partials/state.html'">
          
        </div>
      </div>
    </li>
    <li>
      <div ng-controller="AddCommandController" class="inline-form">
        +
        <input type="hidden" ng-model="c.methodType">
        <input type="text" ng-model="c.method">
        <input type="text" ng-model="c.desc">
        +
        <select ng-model="c.resultStateId">
          <option value="">- New -</option>
          <option ng-repeat="state in states" value="{{state.id}}">{{state.name}}</option>
        </select>
        <input type="text" ng-disabled="c.resultStateId != ''" ng-model="c.stateName">
        <input type="text" ng-disabled="c.resultStateId != ''" ng-model="c.stateDesc">
        <input type="button" value="Create" ng-click="createCommand()">
      </div>
    </li>
  </ul>
</div>
